<div class="center-block-content">
  <div class="post-form" style="margin-bottom: 20px">
    <div class="form">
      <%= render 'shared/micropost_form' %>
    </div>
  </div>

  <div class="feed-post">
		<%= render 'shared/feed' %>
	</div>
</div>