<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>create new account</h1>
    <p>
    UserName: <%= @user.name %>
    <br>
    Email: <%= @user.email %>
    <br>
    </p>
  </body>
</html>
